@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
	position: relative;
	min-height: 1024px;
	height: 100%;
}

.header__map {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}

.header__arrows {
	position: absolute;
	left: 210px;
	bottom: 35px;
	z-index: 3;
}

.header__slider-item {
	min-height: 1024px;
	height: 100%;
	background-image: url(../img/background-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
}

.slider-item__info {
	position: absolute;
	right: 50px;
	bottom: 90px;
	text-align: right;
}

.slider-item__info-suptitle {
	margin-bottom: 5px;
}

.slider-item__info-suptext {
	margin-bottom: 8px;
}

.slider-item__info-title {
	font-size: 80px;
	font-weight: 800;
	line-height: 86px;
	margin-bottom: 30px;
}

.slider-item__info-text {
	font-size: 40px;
	font-weight: 800;
	line-height: 60px;
	margin-bottom: 10px;
}

.slider-arrow {
	position: absolute;
	top: 40px;
	right: 80px;
	cursor: pointer;
	z-index: 5;
}

.slider-arrow__left {
	right: 150px;
}

.slider-dots {
	position: absolute;
	right: 50px;
	bottom: 32px;
	max-width: 920px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	.slick-current {
		.dots-box {
			border-top: 4px solid $green;
		}
	}
}

.slick-slide.slick-current.slick-active {
	width: 230px;
}

.slick-slide.slick-active {
	width: 230px;
}

.dots-box {
	width: 200px;
	height: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 4px solid $white;
	padding-top: 6px;
	margin-right: 30px;
	&__number {
		font-size: 24px;
		line-height: 34px;
		font-weight: 800;
	}
	&__name {
		font-weight: 300;
		line-height: 19px;
		text-transform: capitalize;
	}
}

.header__title {
	font-size: 200px;
	font-weight: 800;
	line-height: 156px;
	opacity: 0.07;
	max-width: 467px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo {
	margin-bottom: 100px;

}

.header__aside {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	border-right: 1px solid rgba($white, .25);
	min-height: 1024px;
	height: 100%;
	text-align: center;
}

.navigation {
	margin-bottom: 35px;

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		height: 370px;

		a {
			span {
				display: block;
				font-size: 12px;
				font-weight: 500;
				line-height: 14px;
				letter-spacing: 3px;
				padding-top: 6px;
				text-transform: capitalize;
			}
		}
	}
}

.header__search {
	margin-bottom: 30px;
}

.header__date {
	font-size: 72px;
	font-weight: 800;
	line-height: 64px;

	span {
		font-weight: 300;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 1.4px;
		margin-bottom: 30px;
		display: block;
		padding-top: 8px;
	}
}

.header__location {
	position: relative;
}

.header__location-state {
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	letter-spacing: 1.05px;
	padding-left: 20px;
	text-transform: capitalize;
}

.header__location-marker {
	position: absolute;
	width: 11px;
	height: 13px;
	left: 40px;
	top: 3px;
}

.line-animation {
	stroke-dasharray: 600;
	stroke-dashoffset: 600;
	animation: animdash 8s infinite 6s;
}

@keyframes animdash {
	to {
		stroke-dashoffset: 0;
	}
}

.surf {
	position: relative;
	padding-bottom: 40px;
	background-image: url(../img/POI.png);
	background-position: right 100px;
	background-size: auto;
	background-repeat: no-repeat;
}

.surf__subtitle {
	text-align: right;
	padding-right: 80px;
}

.subtitle.right-side {
	text-align: right;
}

.surf-map {
	margin: 0 auto;
}

.map {
	position: relative;
	max-width: 1200px;
	width: 100%;
	min-height: 635px;
	margin: 0 auto;
	background-image: url(../img/surf-map-dots.svg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	.slick-list {
		min-height: 670px;
	}

	.slick-current {
		.map__content,
		.coordinates {
			display: flex;
		}
		.map__content {
			width: 285px;
			padding: 30px;
			flex-direction: column;
			justify-content: space-between;
			align-items: space-between;
			position: absolute;
			top: -217px;
			left: -125px;
			background-color: $black;
			border-radius: 15px;
		}
		.coordinates {
			position: absolute;
			top: -13px;
			left: -117px;
		}
		.map__content-rowUp,
		.map__content-rowLow {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		.map__circle {
			background-color: $white;
		}
		.map__content.content-1 {
			left: -3px;
			top: 25px;
		}
		.coordinates.content-1 {
			left: 7px;
			top: 230px;
		}
		.map__content.content-8 {
			left: -195px;
			top: -218px;
		}
		.coordinates.content-8 {
			left: -188px;
			top: -19px;
		}
	}
}

.map__circle {
	max-width: 24px;
	height: 24px;
	background-color: $green;
	border-radius: 50%;
}

.map__info.dot-1 {
	position: absolute;
	top: 385px;
	left: 0px;
}
.map__info.dot-2 {
	position: absolute;
	top: 310px;
	left: 120px;
}
.map__info.dot-3 {
	position: absolute;
	top: 300px;
	left: 275px;
}
.map__info.dot-4 {
	position: absolute;
	top: 250px;
	left: 540px;
}
.map__info.dot-5 {
	position: absolute;
	top: 560px;
	left: 360px;
}
.map__info.dot-6 {
	position: absolute;
	top: 585px;
	left: 640px;
}
.map__info.dot-7 {
	position: absolute;
	top: 400px;
	left: 820px;
}
.map__info.dot-8 {
	position: absolute;
	top: 515px;
	left: 1095px;
}

.map__content {
	width: 285px;
	height: 216px;
	display: none;
}

.map__content-item img {
	margin-bottom: 10px;
}

.map__content-name {
	font-size: 11px;
	line-height: 1.5;
}

.map__content-head {
	font-weight: 800;
	font-size: 18px;
	line-height: 26px;
	letter-spacing: 2px;
}

.map__content-title {
	font-size: 18px;
	font-weight: 800;
	position: relative;
	&::before {
		position: absolute;
		content: "";
		background-color: $green;
		width: 80px;
		height: 1px;
		left: 0;
		top: 27px;
	}
}

.map__content-head span {
	font-size: 16px;
	width: 109px;
	text-transform: capitalize;
}

.coordinates {
	transform: rotate(-90deg);
	transform-origin: left top 0;
	position: absolute;
	display: none;
}

.coordinates span {
	font-size: 16px;
	width: 8px;
	display: flex;
	justify-content: center;
}

.slick-slide:nth-child(4n + 1) {
	.surf-box {
		margin-top: 30px;
	}
}

.slick-slide:nth-child(4n + 3) {
	.surf-box {
		margin-top: 90px;
	}
}

.surf-slider {
	position: relative;
	padding-top: 80px;
}

.surf-box {
	width: 400px;
	height: 750px;
	position: relative;
	display: block;
	background-color: $bg-img;

	&__inner {
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		opacity: .5;
	}

	&__inner.inner-1 {
		background-image: url(../img/surf-slide-1.png);
	}

	&__inner.inner-1:hover {
		opacity: 1;
		transition: .4s;

		.btn-box {
			display: block;
		}
	}

	&__inner.inner-2 {
		background-image: url(../img/surf-slide-2.png);
	}

	&__inner.inner-2:hover {
		opacity: 1;
		transition: .4s;

		.btn-box {
			display: block;
		}
	}

	&__inner.inner-3 {
		background-image: url(../img/surf-slide-3.png);
	}
	&__inner.inner-3:hover {
		opacity: 1;
		transition: .4s;

		.btn-box {
			display: block;
		}
	}

	&__inner.inner-4 {
		background-image: url(../img/surf-slide-4.png);
	}

	&__inner.inner-4:hover {
		opacity: 1;
		transition: .4s;

		.btn-box {
			display: block;
		}
	}

	&__inner-title {
		font-weight: 800;
		font-size: 40px;
		width: 140px;
		height: 72px;
		position: absolute;
		top: 72px;
		left: 40px;
		color: $white;
	}

	&__inner-location {
		font-size: 18px;
		line-height: 22px;
		letter-spacing: 8px;
		transform: rotate(-90deg);
		position: absolute;
		left: -90px;
		bottom: 240px;
	}
}

.btn-box {
	position: absolute;
	bottom: 0;
	margin-left: calc(50% - 140px);
	height: 80px;
	display: none;
}

///   travel   ///

.travel {
	margin-bottom: 120px;
}

.travel-slider__arrow-right,
.sleep-slider__arrow-right {
	position: absolute;
	content: "";
	right: 15px;
}

.travel-slider__head {
	background-image: url(../img/travel-image-copy.png);
}

.sleep-slider__head {
	background-image: url(../img/sleep-image.png);
}

.travel-slider__head,
.sleep-slider__head {
	background-position: left top;
	background-repeat: no-repeat;
	min-height: 740px;
}

.travel-slider__subtitle,
.sleep-slider__subtitle {
	margin: 100px 40px 0;
	display: flex;
	justify-content: flex-end;
}

.subtitle {
	text-align: right;

	&__arrows {
		display: flex;
		justify-content: space-between;
		width: 70px;
		text-align: right;
		opacity: .5;
		margin: 20px 0 0 430px;
	}
}

.subtitle__head {
	font-size: 40px;
	font-weight: 800;
	display: flex;
	align-items: center;
}

.subtitle__head-right {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.subtitle__head-left {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.subtitle__head-star {
	margin-left: 45px;
	width: 315px;
}

.travel-slider__descr,
.sleep-slider__descr {
	position: relative;
	margin: 0 0 100px;
	display: flex;
	flex-direction: row;
	// justify-content: space-around;
	align-items: center;
	max-width: 1440px;
}

.descr {
	width: 550px;
	margin-left: 80px;

	&__head img {
		opacity: 0.9;
		margin-left: 40px;
	}
}

.bitmap-airline {
	position: absolute;
	right: 0;
	top: -200px;
	width: 723px;
	height: 377px;
	background-image: url(../img/bitmap-airline.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.travel-slider__info,
.sleep-slider__info {
	display: flex;
	justify-content: space-around;
	padding: 0 40px 0;
	height: 300px;
}

.travel-slider__info-item,
.sleep-slider__info-item {
	position: relative;
	width: 23%;
	// justify-content: space-around;
	padding-left: 40px;
	// text-align: center;
	// justify-content: center;
	// align-items: center;
	span {
		font-size: 14px;
		line-height: 36px;
		text-align: right;
		letter-spacing: 5.25px;
		opacity: 0.75;
		padding-left: 90px;
		align-items: center;
	}
}

.travel-slider__info-subtitle,
.sleep-slider__info-subtitle {
	position: absolute;
	left: -75px;
	top: 27%;
	width: 195px;
	font-size: 18px;
	text-align: right;
	letter-spacing: 8px;
	mix-blend-mode: normal;
	opacity: 0.5;
	transform: rotate(-90deg);
}

.travel-slider__info-title,
.sleep-slider__info-title {
	font-weight: 800;
	font-size: 34px;
	line-height: 36px;
	letter-spacing: 6px;
}

.travel-slider__btn,
.sleep-slider__btn {
	position: relative;
	font-style: normal;
	font-weight: 800;
	font-size: 40px;
	line-height: 36px;
	display: flex;
	justify-content: center;
}

.btn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		position: relative;
		background: $green;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 80px;
		margin-left: 20px;
		padding-right: 25px;

		&::before {
			position: absolute;
			content: "";
			width: 20px;
			height: 1px;
			background-color: $white;
			left: -10px;
		}
	}
}

.travel-slider__btn-image {
	position: absolute;
	right: 0;
	top: -280px;
}

///   sleep   ///

.sleep-slider__descr img {
	// width: 24px;
	// height: 24px;
	margin-left: 0;
}

.hammock {
	position: absolute;
	right: 0;
	top: -200px;
	width: 723px;
	height: 377px;
	background-image: url(../img/hammock.png);
	background-position: right center;
	background-repeat: no-repeat;
}

.sleep-slider__btn-image {
	position: absolute;
	right: 0;
	top: -480px;
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}











@import "media";
